<header>
  <h1>
    <a routerLink="/"> <!-- Usar routerLink para navegación interna de Angular -->
      <i class="fa-solid fa-hat-cowboy"></i>
      CapiCaps
    </a>
  </h1>
  <nav>
    <!-- Mostrar Productos solo si no es admin -->
    <a *ngIf="!isAdmin()" routerLink="/productos" routerLinkActive="active-link">Productos</a>

    <!-- Mostrar Carrito solo si está logueado y no es admin -->
    <a *ngIf="isLoggedIn() && !isAdmin()" routerLink="/carrito" routerLinkActive="active-link">Carrito</a>

    <!-- Mostrar Inventario solo si es Administrador -->
    <a *ngIf="isAdmin()" routerLink="/inventario" routerLinkActive="active-link">Inventario</a>

    <!-- Mostrar Gestión de Usuarios solo si es Administrador -->
    <a *ngIf="isAdmin()" routerLink="/gestion-usuarios" routerLinkActive="active-link">Usuarios</a>

    <!-- Enlace para usuarios normales -->
    <a *ngIf="isLoggedIn() && !isAdmin()" routerLink="/mis-compras" routerLinkActive="active-link">Mis Compras</a>

    <!-- Enlace para administradores -->
    <a *ngIf="isLoggedIn() && isAdmin()" routerLink="/admin/pedidos" routerLinkActive="active-link">Ver Pedidos</a>

    <div class="user-actions">
      <ng-container *ngIf="currentUser; else loggedOutLinks">
        <a routerLink="/perfil" class="perfil-link" title="Editar mi perfil">
          <i class="fa-solid fa-user-pen"></i> {{ currentUser.username }}
        </a>
        <button (click)="logout()" class="auth-button logout-button">Cerrar Sesión</button>
      </ng-container>
      <ng-template #loggedOutLinks>
        <a routerLink="/login" routerLinkActive="active-link" class="auth-button login-button">Login</a>
        <a routerLink="/registro" routerLinkActive="active-link" class="auth-button register-button">Registro</a>
      </ng-template>
    </div>
  </nav>
</header>